<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 class="ion-text-center">Contáctanos</h3>

  <ion-card>
    <ion-card-content>
  <ion-grid>
    <ion-row>

      <ion-col size="12">
  
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Especialidad</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <p class="ion-text-center" style="margin-top: 2rem;">
          <ion-button color="primary">Enviar</ion-button>
        </p>
  
      </ion-col>
    </ion-row>

  </ion-grid>

  </ion-card-content>
</ion-card>

  <img src="assets/blob1.svg" class="blob-image" alt="">
  <img src="assets/blob2.svg" class="blob-image2" alt="">

</ion-content>
