<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <h4 class="ion-text-center">Links de interés</h4>

    <ion-grid>
      <ion-row>
        <ion-col size="12" >
          <ion-card (click)="goToLink('https://www.pjud.cl/consulta-unificada-de-causas')">
            <ion-card-content>
              <p class="link-text">Poder Judicial- Consulta Causas</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.registrocivil.cl/pricipal/servicios-en-linea/servicios-en-linea')">
            <ion-card-content>
              <p class="link-text">Servicios en Línea - Registro Civil</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
            
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.zeusr.sii.cl//AUT2000/inicioAutenticacion/IngresoRutClave.html?https://misiir.sii.cl/cgi_misii/siigome.cgi')">
            <ion-card-content>
              <p class="link-text">SII (Sistema Interno de Impuestos)</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://claveunica.gob.cl')">
            <ion-card-content>
              <p class="link-text">Clave Única - Chile Atiende</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://informedeudas.cmfchile.cl/informedeudacb/aplicacion?indice=110.0')">
            <ion-card-content>
              <p class="link-text">Informe de deuda SBIF</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.congreso.cl')">
            <ion-card-content>
              <p class="link-text">Congreso Nacional de Chile</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.registrodeempresasysociedades.cl')">
            <ion-card-content>
              <p class="link-text">Tu Empresa En Un Día</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://agenda.minpublico.cl/app/fiscalia-en-linea/#/login')">
            <ion-card-content>
              <p class="link-text">Mi Fiscalía en Linea</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.sernac.cl/portal/617/w3-channel.html')">
            <ion-card-content>
              <p class="link-text">SERNAC</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.bcn.cl/index.html')">
            <ion-card-content>
              <p class="link-text">Biblioteca Congreso Nacional</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.carabineros.cl')">
            <ion-card-content>
              <p class="link-text">Carabineros de Chile</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.gendarmeria.gob.cl')">
            <ion-card-content>
              <p class="link-text">Gendarmeria de Chile</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.minjusticia.gob.cl')">
            <ion-card-content>
              <p class="link-text">Ministerio de Justicia y Derechos Humanos</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.pdichile.cl')">
            <ion-card-content>
              <p class="link-text">Policia de Investigaciones de Chile</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.sernameg.gob.cl')">
            <ion-card-content>
              <p class="link-text">Servicio Nacional de la Mujer y la Equidad de Género</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.notariasdeturno.cl/buscador-de-notarias-de-turno')">
            <ion-card-content>
              <p class="link-text">Notarias en Chile y Turno</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://conservadoresdigitales.cl')">
            <ion-card-content>
              <p class="link-text">Conservadores en Chile</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://www.fojas.cl/index2.php')">
            <ion-card-content>
              <p class="link-text">Validación de Documentos - Fojas.cl</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://es.wikipedia.org/wiki/Chile')">
            <ion-card-content>
              <p class="link-text">Wikipedia</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://beneficiarios.fonasa.cl/Fonasa-beneficiarios/#!/login')">
            <ion-card-content>
              <p class="link-text">Comprar Bono Fonasa Web</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goToLink('https://ww3.servipag.com/pagoenlinea/wcm/connect/desktop/home')">
            <ion-card-content>
              <p class="link-text">Portal de Pagos SERVIPAG</p>
              <ion-icon name="arrow-forward-outline" class="end"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <img src="assets/blob1.svg" class="blob-image" alt="">
      <img src="assets/blob2.svg" class="blob-image2" alt="">
    </ion-grid>

  </div>

  

</ion-content>
