<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 class="ion-text-center">Servicios</h3>

  <ion-slides pager="false" [options]="slideOpts" >
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="assets/hammer.svg" alt="">
          <p>Divorcios</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="assets/justice.svg" alt="">
          <p>Dicom</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <img src="assets/justice.svg" alt="">
          <p>Derechos civiles</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
