h3{
  margin-top:4rem;
}

ion-grid p{
  font-size: 12px;
}

ion-grid{
  margin-top: 2.5rem;
}

.main-logo{
  width: 50%;
}

ion-card{
  z-index: 10;
}

ion-card img{
  color: #31708f;
  width: 60%;
  margin-bottom: -15px;
}

ion-card p{
  color: #31708f;
  font-weight: bold;
}

.slogan{
  padding-left: 1rem;
  padding-right: 1rem;
}

ion-fab-button{
  transform: scale(.8);
}

.blob-image{
  position: absolute;
  z-index:1;
  bottom: 0;
  left: -75%;
}

.blob-image2{
  position: absolute;
  z-index:1;
  top: 20%;
  right: -50%;
}