<ion-content [fullscreen]="true">

  <p class="ion-text-center">
    <img src="assets/logo.png" alt="" class="main-logo">
  </p>
  <!--<div class="ion-text-center">
    <p class="ion-text-center slogan">Encuentra tu abogado completamente online</p>
  </div>-->

  <div class="ion-text-center">
    <ion-button shape="round" (click)="goToDicom()">Informe Comercial $4.990 </ion-button>
  </div>

  <ion-grid style="margin-top: 10px;">
    <ion-row>
      <ion-col size="6" >
        <ion-card (click)="goToServices()">
          <ion-card-content class="ion-text-center">
            <img src="assets/hammer.svg">
            <p class="ion-text-center">Servicios</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="goToLawyers()">
          <ion-card-content class="ion-text-center">
            <img src="assets/justice.svg">
            <p class="ion-text-center" >Abogados</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToLinks()">
          <ion-card-content class="ion-text-center">
            <img src="assets/courthouse.svg">
            <p class="ion-text-center">Links</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="goToContact()">
          <ion-card-content class="ion-text-center">
            <img src="assets/books.svg">
            <p class="ion-text-center">Contacto</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <img src="assets/blob1.svg" class="blob-image" alt="">
    <img src="assets/blob2.svg" class="blob-image2" alt="">
  </ion-grid>

    <div class="ion-text-center">
      <p>¿Eres abogado?</p>
      <ion-button shape="round" (click)="goToLawyerContact()" fill="outline">Contáctanos</ion-button>
    </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="call-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
